<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.VitDepartmentMapper">
    
    <resultMap type="VitDepartment" id="VitDepartmentResult">
        <result property="departmentId"    column="department_ID"    />
        <result property="departmentCode"    column="department_code"    />
        <result property="departmentName"    column="department_name"    />
        <result property="comment"    column="comment"    />
    </resultMap>

    <sql id="selectVitDepartmentVo">
        select department_ID, department_code, department_name, comment from 23_department
    </sql>

    <select id="selectVitDepartmentAll" parameterType="VitDepartment" resultMap="VitDepartmentResult">
        <include refid="selectVitDepartmentVo"/>
    </select>

    <select id="selectVitDepartmentList" parameterType="VitDepartment" resultMap="VitDepartmentResult">
        <include refid="selectVitDepartmentVo"/>
        <where>  
            <if test="departmentName != null  and departmentName != ''"> and department_name like concat('%', #{departmentName}, '%')</if>
            <if test="comment != null  and comment != ''"> and comment like concat('%', #{comment}, '%')</if>
        </where>
    </select>
    
    <select id="selectVitDepartmentById" parameterType="Integer" resultMap="VitDepartmentResult">
        <include refid="selectVitDepartmentVo"/>
        where department_ID = #{departmentId}
    </select>
        
    <insert id="insertVitDepartment" parameterType="VitDepartment" useGeneratedKeys="true" keyProperty="departmentId">
        insert into 23_department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentCode != null">department_code,</if>
            <if test="departmentName != null">department_name,</if>
            <if test="comment != null">comment,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="departmentCode != null">#{departmentCode},</if>
            <if test="departmentName != null">#{departmentName},</if>
            <if test="comment != null">#{comment},</if>
         </trim>
    </insert>

    <update id="updateVitDepartment" parameterType="VitDepartment">
        update 23_department
        <trim prefix="SET" suffixOverrides=",">
            <if test="departmentCode != null">department_code = #{departmentCode},</if>
            <if test="departmentName != null">department_name = #{departmentName},</if>
            <if test="comment != null">comment = #{comment},</if>
        </trim>
        where department_ID = #{departmentId}
    </update>

    <delete id="deleteVitDepartmentById" parameterType="Integer">
        delete from 23_department where department_ID = #{departmentId}
    </delete>

    <delete id="deleteVitDepartmentByIds" parameterType="String">
        delete from 23_department where department_ID in 
        <foreach item="departmentId" collection="array" open="(" separator="," close=")">
            #{departmentId}
        </foreach>
    </delete>

</mapper>