<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增vitStaff')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-select-css" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-vitStaff-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">name：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">department：</label>
                <div class="col-sm-8">
                    <select name="department" id="department" lay-verify="required" class="form-control">
                        <option th:each="vitDepartment:${vitDepartments}" th:value="${vitDepartment.departmentName}"
                                th:text="${vitDepartment.departmentName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">employeeId：</label>
                <div class="col-sm-8">
                    <input name="employeeId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">emailAddress：</label>
                <div class="col-sm-8">
                    <input name="emailAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">authority：</label>
                <div class="col-sm-8">
                    <input name="authority" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-select-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script th:inline="javascript">
        var prefix = ctx + "system/vitStaff"
        $("#form-vitStaff-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            var url = prefix + "/add";
            var formdata = new FormData($('#form-vitStaff-add')[0]);
            if ($.validate.form()) {
                $.ajax({
                    url: url,
                    data: formdata,
                    type: "post",
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                        $.modal.disable();
                    },
                    success: function(result) {
                        $.operate.successCallback(result,true);
                        $.modal.closeLoading();
                        $.modal.enable();
                    }
                })
                data = $('#form-vitStaff-add').serializeArray()
                var vitDepartmentNames = $.form.selectSelects("departmentName");
                data.push({"name": "departmentNames", "value": vitDepartmentNames});

                $.operate.save(prefix + "/add", $('#form-vitStaff-add').serialize());
            }
        }
    </script>
</body>
</html>