<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改vitRoleType')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-vitRoleType-edit" th:object="${vitRoleType}">
            <input name="roleTypeCode" th:field="*{roleTypeCode}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">roleTypeDescription：</label>
                <div class="col-sm-8">
                    <input name="roleTypeDescription" th:field="*{roleTypeDescription}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/vitRoleType";
        $("#form-vitRoleType-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-vitRoleType-edit').serialize());
            }
        }
    </script>
</body>
</html>