<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增vitCompetence')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-vitCompetence-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">parentId：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="treeId" name="parentId" type="hidden" th:value="${vitCompetence?.competenceId}"/>
                        <input class="form-control" type="text" onclick="selectVitCompetenceTree()" id="treeName" readonly="true" th:value="${vitCompetence?.competenceDescription}">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">competenceDescription：</label>
                <div class="col-sm-8">
                    <input name="competenceDescription" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">titleCompetence：</label>
                <div class="col-sm-8">
                    <input name="titleCompetence" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">stdAutoCompetence：</label>
                <div class="col-sm-8">
                    <input name="stdAutoCompetence" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">autoCompetenceCategoryId：</label>
                <div class="col-sm-8">
                    <input name="autoCompetenceCategoryId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">sapModuleId：</label>
                <div class="col-sm-8">
                    <input name="sapModuleId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">autoProcessId：</label>
                <div class="col-sm-8">
                    <input name="autoProcessId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">comment：</label>
                <div class="col-sm-8">
                    <input name="comment" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/vitCompetence"
        $("#form-vitCompetence-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-vitCompetence-add').serialize());
            }
        }

        /*vitCompetence-新增-选择父部门树*/
        function selectVitCompetenceTree() {
            var options = {
                title: 'vitCompetence选择',
                width: "380",
                url: prefix + "/selectVitCompetenceTree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
               $("#treeId").val(body.find('#treeId').val());
               $("#treeName").val(body.find('#treeName').val());
               layer.close(index);
        }
    </script>
</body>
</html>